<div class="editor">
	<%= form_for @question do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title, size: 135 %>
		<%= f.label :question %>
		<%= f.text_area :content, :class => "tinymce", :rows => 20, :cols => 98 %>
		<%= f.text_field :tag_tokens, "data-tags" => f.object.tag_tokens.to_json %>
		<%= f.submit %>
	<% end %>
</div>


 <input type="text" id="tags" name="post[tag_tokens]" size="40" data-tags="<%= @tag_data %>"><br>
